
body{
  color: #3aeb34;
  font-family: 'Goldman', cursive;
  font-size: xx-large;
  /* border: 3px solid #73AD21 */
}

.gameBox {
  background: black;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  width: 630px;
}

.scoreboard {
  background: black;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  width: 630px;
  height: 300px;
  border-bottom-width: 26px;
  padding-bottom: 64px;
}

.title {
  text-align: center;
  margin-top: 20px;
}

#scoreboard {
  font-size: 30pt;
  text-align: center;
}

#xWins {
  font-size: 20pt;
  text-align-last: right;
}

#oWins {
  font-size: 20pt;
  text-align-last: right;
}

#resetButton {
  color: Grey;
  cursor: pointer;

}

.game-grid {
  background: #02010a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
} /*fr fractional unit.*/

.game-cell {
  height: 200px;
  width: 200px;
  background: #f5f5fa;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x::after {
  content: 'x';
  font-size: 156px;
  padding-bottom: 21px;
} /*used the pseudo element for specific styling, xbox x & o - */

.o::after {
  content: 'o';
  font-size: 182px;
  padding-bottom: 21px;
}

/* #zoomIn {
  height: 80px;
  width: 80px;
  border-radius: 15px;

} */

#zoomOut {
  height: 60px;
  width: 60px;
  border-radius: 15px;
  align-items: flex-end;
}

/* #zoomWindow {
  border: 3px solid #73AD21
} */

.box {

position: relative;
/* border: 3px solid #73AD21; */
padding: 10px;
right: 0;
left: 7px;
top: 0px;

}
