/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} Step3 - Personal preference for resizing/defaulting back to 0 */



/* tags go below. Step5 */
body{
  color: #20b51d;
  font-family: 'Goldman', cursive;
  font-size: xx-large;

}

.gameBox { /* Main image/container */
  background: #02010a;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  width: 630px;


}

.scoreboard {
  background: black;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  width: 630px;
  height: 200px;

}
.title {
  text-align: center;
  margin-top: 20px;/* step7 this will align the centre text*/
}

#scoreboard {
  font-size: 30pt;
}

.game-grid {  /*step11 continues*/
  background: #02010a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); /*grid-template specifies the number of columns and rows you want. The repeat function allows 3 spaces, given the spaces I want them to be equally devided, meaning 3 equal spaces */
  grid-gap: 15px;  /*Gives the even gaps between the grid cells*/
  margin-top: 50px;

}

.game-cell { /*step12 continues*/
  height: 200px;
  width: 200px; /*Height and width of each cell*/
  background: #f5f5fa;
  border-radius: 12px; /*smoothens out the corners of each cell*/
  cursor: pointer; /*tells the user they can click on the cell*/
  display: flex;
  justify-content: center;/* users display flex together with - justify content to center cell*/
  align-items: center;

}


.x::after {
  content: '✕';
  font-size: 150px;
}

.o::after {
  content: '○';
  font-size: 290px;
}
