
body{
  color: #20b51d;
  font-family: 'Goldman', cursive;
  font-size: xx-large;

}

.gameBox {
  background: #02010a;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  width: 630px;
}

.scoreboard {
  background: black;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  width: 630px;
  height: 200px;
}

.title {
  text-align: center;
  margin-top: 20px;
}

#scoreboard {
  font-size: 30pt;
  text-align-last: left;
}

#xWins {
  font-size: 15pt;
  margin-right: 90px;
  text-align-last: right;
}

#oWins {
  font-size: 15pt;
  margin-right: 90px;
  text-align-last: right;
}

.game-grid {
  background: #02010a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.game-cell {
  height: 200px;
  width: 200px;
  background: #f5f5fa;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x::after {
  content: '✕';
  font-size: 150px;
}

.o::after {
  content: '○';
  font-size: 290px;
}
